.box {
    width: 80%; 
    margin: 100px auto;
    height: 200px;
ul{
    li{
        font-size: 20px;
        margin: 20px 0;
    };
}
img{
    width: 60%;
    max-height: 250px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}



}